<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0GEDC5RTJ9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-0GEDC5RTJ9");
  </script>

  <!-- Clarity (clarity.js) - Microsoft analytics -->
  <script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
      c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
      t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
      y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "93jfa0ufr9");
  </script>

  <!-- Title and Icon -->

  <title>Wetogether.Care ~ Making a room.</title>
  <link rel="shortcut icon" href="../images/favicon.png" />
  <link rel="apple-touch-icon" href="../images/favicon.png" />

  <!-- Meta Information -->

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content="Wetogether.Care. Powerful ~ Fast ~ Easy to use ~ Secure." />
  <meta name="keywords"
    content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting" />

  <!-- https://ogp.me -->

   <!-- Primary Meta Tags -->
   <title>Wetogether.Care ~ The new revolution</title>
   <meta name="title" content="Wetogether.Care">
   <meta name="description" content="Smooth ~ Fast ~ Simply Clever!">
 
   <!-- Open Graph / Facebook -->
   <meta property="og:type" content="website">
   <meta property="og:url" content="https://wetogether-care.onrender.com/">
   <meta property="og:title" content="Wetogether.Care">
   <meta property="og:description" content="Smooth ~ Fast ~ Simply Clever!">
   <meta property="og:image" content="https://pbs.twimg.com/profile_images/1385198890987659264/SQAbprI2_400x400.jpg">
 
   <!-- Twitter -->
   <meta property="twitter:card" content="summary_large_image">
   <meta property="twitter:url" content="https://wetogether-care.onrender.com/">
   <meta property="twitter:title" content="Wetogether.Care">
   <meta property="twitter:description" content="Smooth ~ Fast ~ Simply Clever!">
   <meta property="twitter:image" content="https://pbs.twimg.com/profile_images/1385198890987659264/SQAbprI2_400x400.jpg">

    <!-- StyleSheet -->

    <link rel="stylesheet" href="../css/landing.css" />
    <link rel="stylesheet" href="../css/newcall.css" />
</head>

<body class="has-animations">
  <div class="body-wrap">
    <header class="site-header reveal-from-top">
      <div class="container">
        <div class="site-header-inner">
          <div class="brand">
            <div class="m-0">
              <a href="/"><img src="../images/favicon.png" alt="Neon" width="32" height="32" /></a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="site-content">
      <section class="hero section illustration-section-01">
        <div class="container">
          <div class="hero-inner section-inner">
            <div class="split-wrap invert-mobile">
              <div class="split-item">
                <div class="
                      hero-content
                      split-item-content
                      center-content-mobile
                    ">
                  <h1 class="mt-0 mb-16 reveal-from-bottom" data-reveal-delay="150">
                    Pick name. <br />
                    Share URL. <br />
                    Start conference.
                  </h1>
                  <p class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="300">
                    Each room has its own disposable URL. Just pick a room
                    name and share your custom URL. It's really that easy.
                  </p>
                </div>
                <style>
                  @media (min-width: 641px) {
                    .hero .split-wrap .split-item {
                      min-height: 492px;
                    }
                  }
                </style>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="cta section center-content-mobile reveal-from-bottom">
        <div class="container">
          <div class="cta-inner br-12 section-inner cta-split">
            <div class="cta-slogan">
              <h3 class="m-0">
                Pick a room name.<br />
                How about this one?
              </h3>
            </div>
            <div class="cta-action">
              <div class="mb-24">
                <label class="form-label screen-reader" for="roomName">Wetogether.Care</label>
                <div class="form-group-desktop">
                  <input class="form-input" type="text" id="roomName" value="Wetogether.Care" />
                  <button class="button button-primary br-6 pulse" style="border-radius:24px"
                    onclick="{window.location.href = '/join/' + document.getElementById('roomName').value}">
                    Join room
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>


  </div>
  <script defer src="../js/landing.js"></script>
  <script defer src="../js/newroom.js"></script>
</body>

</html>